*{
    padding: 0;
    margin: 0;
}
body{
    background: #f7f7f7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
main{
    margin: auto;
    max-width: 500px;
    padding: 1rem;
}
main h1{
    color: #61dafb;
}
/*/// nav bar ///*/
nav{
    background: #20232a;
    font-weight: 400;
    width:100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav h1{
    color: #e7faff;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 0 1rem;
    justify-content:center;
}
nav ul li{
    list-style: none;
    width: 74px;
    text-align: center;
    position: relative;
}
nav ul li:hover{
    background: #b9dfff45;
}
nav a{
    color: white;
    text-decoration: none;
    font-style: normal;
    height: 100%;
    position: relative;
    text-align: center;
    font-weight: bold;
    height: 3rem;
    line-height: 3rem;
    display: block;
}

.active-link a{
    color: rgb(97, 218, 251)!important;
}
.active-link::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: rgb(97, 218, 251);
    bottom: 0;
    left: 0;
}

@media (max-width:500px) {
    nav{
        flex-direction: column;
    }
    nav .title{
        width: 100%;
        border: 0 #f7f7f7 solid;
        border-bottom-width: 4px;
    }
    nav .title h1{
        margin: 0.5rem 0 0.25rem 1rem;
    }
}

/* footer */
footer{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: #20232a;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
footer a{
    color: rgb(255, 255, 255);
    margin: 0 1rem;
}
/*///////////*/
main a{
    font-size: 1.5rem;
    display: block;
    color: #333;
    padding: 0.35rem;
}
.error{
    color: red;
}